package

  $!package.get("service");

import $!package.get("entity").${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface $!table.fileNameMap.get("service") extends${superServiceClass}<${entity}> {

    }
